[Unit]
Description=Victor animator daemon
SourcePath=/anki/bin/vic-anim
PartOf=anki-robot.target

Wants=vic-robot.service
Requires=anki-audio-init.service
After=vic-robot.service anki-audio-init.service

[Service]
EnvironmentFile=/anki/etc/vic-anim.env
Restart=no
ExecStartPre=-/bin/systemctl stop vic-bootAnim.service
ExecStart=/usr/bin/logwrapper /anki/bin/vic-anim $VIC_ANIM_OPTS
ExecStopPost=/anki/bin/vic-on-exit
Nice=-15
Group=anki
UMask=0002

[Install]
WantedBy=anki-robot.target
